<script>
import Theme from '../../theme.json';
import server from '../../feathers-client';
import { useQuery, useQueryClient } from "vue-query";

export default {
  data() {
    return {
      theme: Theme,
      processing: false,
      error: null,
      formData: {
        email: '',
        password: '',
        strategy: 'local',
      }
    }
  },
  setup() {
    const queryClient = useQueryClient();
    async function reAuth() {
      try {
        const userService = server.service('users');
        const reAuth = await server.authenticate();
        const loginUserInfo = await userService.get(reAuth.user._id);
        queryClient.setQueryData('CURRENT_LOGIN_USER', loginUserInfo);
      } catch (error) {
        throw error;
      }
    }

    reAuth();
      
    return {queryClient}
  },
  methods: {
    emailPassValidation(email, password) {
      return new Promise((resolve, reject) => {
        if(!email || !password) {
          reject({message: 'Email or Password must not be empty.'});
        }

        const regex = RegExp(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
        const checkforat = email.split('@');

        if(checkforat.length < 2) {
          reject({message: 'Email format is invalid.'});
        }

        const checkfordot = checkforat[1].split('.');
        if(checkforat.length < 3 && checkfordot.length < 4 && regex.test(email) && /\s/.test(email) === false) {
                    
        } else {
           reject({message: 'Email format is invalid.'});
        }

        if(password.length < 6) {
          reject({message: 'Password must be greater than 6 characters.'})
        }

        resolve('success');
      })
    },
    async _onLogin() {
      if(this.processing) return;

      this.processing = true;

      try {
        const valRes = await this.emailPassValidation(this.formData.email, this.formData.password);

        if(valRes !== 'success') return;

        const userService = server.service('users');
        const response = await server.authenticate(this.formData);
        const userInfo = await userService.get(response.user._id);

        this.queryClient.setQueryData('CURRENT_LOGIN_USER', userInfo)

        this.processing = false;

        this.$router.replace('/dashboard');
      } catch (error) {
        this.processing = false;
        this.error = error.message;
      }
    },
  },
  mounted() {
    
  }
}
</script>


<template>
    <div class="login-container" :style="{background: `${theme.primary}`}">
      <div id="title">Todo Admin</div>
      <div id="error-message">{{error}}</div>

      <div class="input-field-label-signup-page">Enter Email</div>
      <div class="input-field">
        <input 
          type="email" 
          class="form-input" 
          name="email"
          v-model="formData.email"
        >
      </div>
      <div class="input-field-label-signup-page">Enter Password</div>
      <div class="input-field">
        <input 
          type="password" 
          class="form-input" 
          name="password"
          v-model="formData.password"
        >
      </div>
      <button type="button" class="login-btn" :style="{background: `${theme.dark_primary}`}" @click="_onLogin">
        LOGIN
      </button>
      <a href="/new-account" id="link-label">SETUP NEW ADMIN ACCOUNT</a>
    </div>
</template>

<style scope>
  .login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #title {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .input-field {
    width: 300px;
    background: #fff;
    height: 50px;
    border-radius: 150px;
    margin-bottom: 10px;
  }

  .login-btn {
    width: 300px;
    height: 50px;
    border-radius: 150px;
    margin-bottom: 10px;
    border: 0;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }

  #link-label {
    color: #ffe08c;
    font-weight: bold;
  }
</style>
